:root {
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    gap: 32px;
    background-color: rgb(42, 42, 42);
    color: aliceblue;
}

.nav {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 16px;

    > #today {
        cursor: pointer;
    }

    > #week {
        cursor: pointer;
    }

    > #completed {
        cursor: pointer;
    }

    > .projects {
        display: flex;
        flex-direction: column;

        > span {
            display: inline-flex;

            > h3 {
                margin: 0;
                font-size: 3rem;
            } 

            > button {
                padding: 0;
                margin: 0;
                border: 0;
                height: 32px;
            
                > svg {
                    max-height: 32px;
                    width: auto;    
                }
            }
        }

        > ul > li > .project-item {
            cursor: pointer;
        }
    }
}

.tasks {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    background-color: rgb(122, 122, 122);

    > div {
        display: inline-flex;

        > h3 {
            margin: 0;
        }
        :last-child {
            margin-left: auto;
        }

        > button {
            padding: 0;
            margin: 0;
            border: 0;
            height: 32px;
        
            > svg {
                max-height: 32px;
                width: auto;    
            }
        }
    }

    > ul {
        list-style: none;
        :nth-child(odd) {
            background-color: antiquewhite;
            color: black;

            > label {
                background-color: antiquewhite;
            }
        }

        :nth-child(even) {
            background-color: rgb(155, 155, 155);
            color: black;
        }
    }
}

dialog {
    border-radius: 8px;
}

dialog::backdrop {
    background-color: rgba(121, 121, 121, 0.8);
}

#new-project {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 2rem;

    > div {
        display: flex;
        gap: 8px;

        :last-child {
            margin-left: auto;
        }
    }

    :last-child {
        margin-left: auto;
        gap: 16px;
    }
}

#new-task {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 2rem;

    > div {
        &:last-child {
            margin-left: auto;
        }
    }

    :last-child {
        margin-left: auto;
    }
}


